:root {
    font-family: sans-serif, "roboto";
    background-color: #1e293b;
    color: white;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(174deg) brightness(105%) contrast(101%);
    width:30px;
    grid-column: 1 / 2;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    "sidebar header header header"
    "sidebar maincontent maincontent maincontent"
    "sidebar maincontent maincontent maincontent"
    "sidebar maincontent maincontent maincontent";
    grid-template-rows: 12% auto auto auto;
    grid-template-columns: 20% 30% 30% 20%;
}

.sidebar {
    grid-area: sidebar;
    background-color: lightslategrey;
}

.header {
    grid-area: header;
    background-color: black;
    display: grid;
    grid-template-areas: 
    "search admininfo"
    "adminbig adminbutton";
    grid-template-rows: 30% auto;
    grid-template-columns: 60% auto;
}

.maincontent {
    grid-area: maincontent;
    background-color: white;
}